* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
}
.container .form {
    font-family: "Inter", sans-serif;
    width: 400px;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    margin-right: 150px;
    margin-left: 100px;
}
.container .form img {
    margin-bottom: 50px;
    width: 125.25px;
    height: 45px;
    top: 100px;
    margin-left: 130px;
    gap: 0px;
    opacity: 0px;
}

.container .form input {
    width: 420px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid #000;
    opacity: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container .form input span {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left;
    color: #252525;
}

.container .form h1 {
    font-family: "Inter";
    font-size: 57px;
    font-weight: 700;
    line-height: 72.61px;
    text-align: left;
    color: #252525;
    margin-left: 35px;
    margin-bottom: -10px;
}

.container .form h4 {
    margin-left: 15px;
    font-family: "Inter";
    font-size: 17px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
    color: #4b4b4b;
    margin-bottom: 40px;
}

.container .form h6 {
    margin-top: 100px;
    margin-left: 100px;
    color: #aeaeae;
    font-family: "SF Pro Display";
    font-size: 18px;
    font-weight: 500;
    line-height: 21.48px;
    text-align: left;
}
.btn {
    width: 444px;
    height: 56px;
    top: 672px;
    left: 213px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    background-color: #2e4de8;
    color: #fff;
    cursor: pointer;
}

.container .form button:hover {
    opacity: 1;
    background-color: #1236e8;
}
.container .action img {
    width: 800px;
    height: 600px;
    top: 60px;
    left: 500px;
    gap: 0px;
    opacity: 0px;
}

.pwd-container {
    position: relative;
    width: 295px;
}

.pwd-container input {
    padding: 5px 30px 5px 10px;
    font-size: 20px;
}

.pwd-container img {
    cursor: pointer;
    position: absolute;
    margin-top: -92px;
    left: 200px;
}
