* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;

}

label{
    display: inline-block;
    width: 100px;margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}
.container .form {
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    margin-right: 150px;
    margin-left: 100px;
}
.container .form img {
    margin-left: 130px;
    height: 6vh;
    margin-bottom: 30px;
}

.container .form input {
    font-family: 'SF Pro Display';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.48px;
    text-align: left;
    width: 440px;
    height: 5vh;
    margin-bottom: 18px;
    border-radius: 3px;
    padding: 5px 30px 5px 10px;
    font-size: 20px;

}

.container .form input:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.container .form label span {
    font-family: 'SF Pro Display';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.48px;
    width: 39px;
    height: 21px;
    margin-bottom: 20px;



}

.container .form h1 {
    font-family: 'SF Pro Display';
    text-align: center;
    margin-left: 40px;
    font-size: 60px;
    font-weight: 700;
    line-height: 71.6px;
    text-align: left;
    margin-bottom: 20px;
    
}

.container .form h4 {
    font-family: 'SF Pro Display';
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 40px;
    
}

.container .form h6 {
    width: 281px;
    height: 21px;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 60px;
    left: 285.5px;
    gap: 0px;
    opacity: 0px;
    font-family: 'SF Pro Display';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.48px;
    text-align: center;
    color: #AEAEAE;


    
}
.btn {
    width: 444px;
    height: 56px;
    top: 672px;
    left: 213px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    background: #607AFB;
    color: #fff;
    cursor: pointer;
}

.container .form button:hover {
    opacity: 1;
    background-color: #1236e8;
}

.container .form button span{
    font-family: 'SF Pro Display';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.48px;
    text-align: left;
    width: 44px;
    height: 21px;
    top: 689.5px;
    left: 404.5px;
    gap: 0px;
    opacity: 0px;

}
.container .action img {
    width: 800px;
    height: 600px;
    top: 60px;
    left: 500px;
    gap: 0px;
    opacity: 0px;
}

.pwd-container {
    position: relative;
    width: 295px;
}

.pwd-container input {
    border: 2px solid #000000;
    padding: 5px 30px 5px 10px;
    font-size: 20px;
}

.pwd-container input:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pwd-container img {
    cursor: pointer;
    position: absolute;
    width: 23px;
    margin-top: -59px;
    left: 278px;
   
}

.container .action img{
    height: 90vh;
}

