/* teacher */

.teachers {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 40px;
}

.teacherCabinet {
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100vh;
}

.teacherStudents {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 40px;
}

.rolesInfo {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -2.5%;
  color: rgb(37, 37, 37);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 60px;
  border: 1.5px solid rgb(240, 240, 240);
  margin-bottom: 31px;
}

.rolesInfoStudents {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -2.5%;
  color: rgb(37, 37, 37);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 60px;
  border: 1.5px solid rgb(240, 240, 240);
  margin-bottom: 31px;
  margin-top: 49px;
}

.teacherNameText {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -2.5%;
  color: rgb(75, 75, 75);
}

.teacherDirectionText {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -2.5%;
  color: #4b4b4b;
  line-height: 16.94px;
  padding-bottom: 5px;
}

.changeButtons {
  outline: none;
  border: none;
}

.changeButtons img {
  width: 20px;
  height: 20px;
}

.teacherPhone {
  color: rgb(75, 75, 75);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -2.5%;
  text-align: left;
  text-decoration: none;
}

.teacherPhone span {
  display: flex;
  gap: 8px;
}

.teacherInfo {
  box-sizing: border-box;
  border: 1px solid rgb(236, 239, 255);
  border-radius: 8px;
  background: rgb(249, 248, 250);
  padding: 20px;
}

.teacherStartDate span {
  display: flex;
  gap: 5px;
}

.teacherLittleInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teacherChangesMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
}

/* group */

.group {
  width: 100%;
}

.teacherGroup {
  padding: 20px;
}

.allGroups {
  text-align: center;
}

.groupProcedure {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 8px 8px 0px 0px;
  background: rgb(249, 248, 250);
  padding: 13px;
}

.groupAdd {
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: #000;
}

.thead {
}

.tds {
  width: 60%;
  justify-content: space-between;
  margin-top: 20px;
}

.groupId {
  color: rgb(96, 122, 251);
}

.addGroupForm {
  display: flex;
  gap: 20px;
}

.addGroupForm button {
  padding: 16px 98px;
  color: #fff;
  border-radius: 8px;
  background: rgb(96, 122, 251);
  outline: none;
  border: none;
}

/* group add */

.groupAddBtn {
  position: absolute;
  width: 76px;
  height: 76px;
  outline: none;
  border: none;
  color: #fff;
  background: rgb(96, 122, 251);
  border-radius: 50px;
  font-size: 50px;
  box-shadow: 0px 0px 15px 0px rgba(96, 122, 251, 0.5);
  right: 0;
  bottom: 20px;
}

/* modal */

.modalHeader {
  background: rgb(96, 122, 251);
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 8px 8px 0px 0px;
  padding: 15px;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  z-index: 1000000;
}

.modalInputs input::placeholder {
  color: rgb(191, 191, 191);
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -2.5%;
  text-align: left;
}

.modalHero span {
  color: rgb(37, 37, 37);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -2.5%;
  text-align: left;
}

.closeBtn {
  position: absolute;
  font-size: 35px;
  right: 10px;
  top: 5px;
  cursor: pointer;
  color: #fff;
}

.modalTitle {
  color: #fff;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -2.5%;
  text-align: left;
}

.modalDesc {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -2.5%;
  text-align: left;
}

.modalInputs {
  padding: 20px;
  border-radius: 8px 8px 0px 0px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.groupSaveBtn {
  color: #fff;
  background: rgb(96, 122, 251);
  padding: 16px 98px;
  outline: none;
  border: none;
  border-radius: 8px;
}

.groupDates {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
