.employees{
    padding:0 60px;
}

.key_employees_list,
.teachers_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.key_employees_title,
.teachers_title{
    font-size: 24px;
    font-weight: 600;
    border-block: 1.5px solid #f0f0f0;
    padding: 16.25px;
}

.add_btn{
    position: fixed;
    bottom: 50px;
    right: 60px;
    background-color: #607AFB;
    padding: 26px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.add_btn:hover{
    background-color: #5069F9;
}

