.head{
  max-width: 1350px;
  min-width: 750px;
  margin: 0 auto;
}
.container {
  display: flex;
}

.Tech_Panel {
  width: 205px;
  height: 105px;
  /*border: 1px solid rgba(0, 102, 255, 0.466);*/
  margin-top: 20px;
  margin-left: 0px;
  border-radius: 20px;
}


.Techer {
  color: #252525;
  font-weight: 800;
  font-size: 20px;
  padding-left: 12px;
  font-family: "Inter", sans-serif;
}

.Soxa {
  color: #4B4B4B;
  padding-left: 15px;
  padding-top: 2px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.Soxa_icon {
  margin-left: 5px;
}

.exit {
  margin-top: 15px;
 /* margin-left: 1050px;*/
}

.btn_exit {
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: #fff;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
}


.main {
  border: 1px solid #F0F0F0;
  border-radius: 15px;
  width: 1250px;
  height: 580px;
  margin-left: 30px;
  margin-top: 30px;
}

h6 {
  font-size: 22px;
  color: #252525;
  padding-left: 20px;
  margin: 10px;
}

.form{
  display: flex;
  border-bottom: 1px solid #F0F0F0;
  background-color: #F9F8FA;
}
.id{
  font-size: 14px;
  font-family: inter;
  line-height: 14px;
  font-weight: 400;
  margin-top: 18px;
}
.bottom{
  margin-top: 15px;
  margin-right: 500px;
}
.grop{
  font-family: inter;
  font-weight: 500;
  line-height: 14px;
  font-size: 16px;
  color: #4B4B4B;
  margin-top: 18px;
  margin-right: 400px;
}
.children{
  font-family: inter;
  font-weight: 500;
  line-height: 14px;
  font-size: 16px;
  color: #4B4B4B;
  margin-top: 18px;
}
.form_panel{
  display: flex;
  border-bottom: 1px solid #F0F0F0;
  height: 50px;
}

.grup{
  margin-top: 15px;
  margin-right: 450px;
  font-weight: 500;
  color: #0B38E1;
  font-size: 16px;
  line-height: 16px;
}

.grup_3{
  margin-top: 15px;
  margin-right: 445px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #0B38E1;

}

.grup_4{
  margin-top: 15px;
  margin-right: 445px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #0B38E1;

}

.grup_6{
  margin-top: 15px;
  margin-right: 445px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #0B38E1;

}

.people{
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.people_3{
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.people_4{
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.people_6{
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.icon{
  display: flex;
  margin-top: 25px;
  margin-left: 35px;
}
.Container_grup{
  width: 100%;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}
.grup{
  margin-left: 60px;
  margin-top: 15.5px;
  margin-bottom: 15.5px;
  font-size: 28px;
  color: #252525;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.Container_card{
width: 339.75px;
height: 125px;
background-color: #F9F8FA;
border-radius: 8px;
margin-top: 30px;
margin-left: 40px;
border: 1px solid #ECEFFF;
}
.Container_card:active{
  background-color: #f0f0f0;
}
.Container_group_name{
  font-family: "Inter" sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-top: 15px;
  margin-left: 20px;
  text-decoration: none;
}
.Container_id{
  margin-top: 35px;
  margin-left: 20px;
  display: flex;
  justify-content: start;
}
.Group{
  padding-top: 15px;
  
}
.Fn{
  margin-right: 150px;
  color: #4B4B4B;
  cursor: pointer;
}

.ID{
  margin-top: 5px;
  font-family: "Inter" sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: flex;
}
.number_people{
  margin-top: 8px;
}
.people_number{
  display: flex;
}
.number{
  margin-left: 6px;
  font-size: 16px;
  color: #4B4B4B;
  cursor: pointer;
}
