body{
  max-width: 1350px;  /* Adjust the max-width as needed */
  padding: 20px;      /* Add padding */
  background-color: #f5f5f5; /* Set background color */

}
.container{
  display: flex;
}

.Tech_Panel{
  width: 180px;
  height: 175px;
  /*border: 1px solid rgba(0, 102, 255, 0.466);*/
  background-color: #607AFB;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(78, 78, 78, 0.61);
}

.Tech_Logo{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  margin-left: 40px;
  margin-top: 15px;
}
.tech{
  padding-top: 20px;
  padding-left: 15px;
  color: white;
  display: flex;
}
.Techer{
  color: white;
  padding-left: 15px;
}
.Soxa{
  color: white;
  padding-left: 15px;
  padding-top: 5px; 
}
.Soxa_icon{
  margin-left: 5px;
}
.exit{
  margin-top: 25px;
  margin-left: 1030px;
}
.btn_exit{
  width: 100px;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: #607AFB;
  color: white;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn_exit:active{
  background-color: #5771f7;
}