.StudentWrapper {
  width: 100%;
  max-width: 1419px;
  margin: 0 auto;
}

.rounded-table { 
  border: 1px solid lightgray;
  width: 100%;
  border-top-left-radius: 8px;
  text-align: center;
  border-top-right-radius: 8px;
   cursor: pointer;
  }
.rounded-table td,th{
  border-bottom: 1px solid lightgray;
  padding: 15px 10px; 
}
.rounded-table tr:last-child > td {
  border-bottom: none;
}
.thead{
  background-color:#f9f9f9;
}

.student-title {
  width: 100%;
  background-color: #607afb;
  padding: 30px 20px;
  color: white;
  margin-bottom: 10px;
}

.tab-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
  margin-top: 40px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-radius: 0px;
}

.tab-buttons button.active {
  border-bottom: 3px solid #607afb;
  color: #607afb;
}

.student-id a {
  text-decoration: none;
  color: #607afb;
  transition: all 0.2s ease-out;
}

.student-id a:hover {
  color: #f716a8;
}

.active {
  width: 100px;
  background-color: #55ce63;
  color: #f9f8fa;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 8px;
}

.inactive {
  width: 100px;
  background-color: rgba(255, 0, 0, 0.512);
  color: white;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
}


.lesson-charts { 
  border: 1px solid lightgray;
  width: 100%;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
   cursor: pointer;
  }
.lesson-charts td,th{
  border-bottom: 1px solid lightgray;
  padding: 15px 10px; 
}
.lesson-charts tr:last-child > td {
  border-bottom: none;
}
 .lesson-thead {
  background-color: #f9f9f9;
}

.lesson-title {
  width: 100%;
  background-color: #607afb;
  padding: 30px 20px;
  color: white;
  margin-bottom: 10px;
}

.lesson-start {
  display: block;
  background-color: #607afb;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  margin-left: auto;
  margin-bottom: 10px;
  transition: all 0.2s ease-out;
}

.lesson-start:hover {
  background-color: #1b39cd;
}

.lesson-link a {
  text-decoration: none;
  color: #607afb;
  transition: all 0.2s ease-out;
}

.lesson-link a:hover {
  color: #f716a8;
}


